@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-Primary: #fff;
  --font: "Open Sans", sans-serif;
  --logo-name-size: 2.25rem;
  --menu-width: 12rem;
  --fs-0875: 0.875rem;
  --fs-100: 1rem;
  --fs-225: 2.25rem;
  --fs-headline: clamp(3rem, 6vw + 0.5rem, 5rem);
  --mg-100: 0.625rem;
  --pg-0125: 0.125rem;
  --pg-100: 1rem;
  --pg-150: 1.5rem;
  --pg-200: 2rem;
}

html,
body {
  /* max-height: 100vh; */
  height: 100%;
  position: relative;
  z-index: 1;
  background-color: rgba(0, 25, 51, 253);
  font-family: var(--font);
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-Primary);
}

a:focus {
  outline: none;
}

/* Overlay design */

.overlay {
  position: absolute;
  background-color: rgba(0, 25, 51, 253);
  width: 100%;
  height: 100%;
  z-index: 2;
  animation: overlay-rise;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-duration: 800ms;
}

@keyframes overlay-rise {
  to {
    transform: translateY(-100%);
  }
}

/* Background design */

.background {
  position: absolute;
  background-color: rgba(0, 25, 51, 253);
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  z-index: -1;
  background: url("./Assets/backgroundAAE.svg") no-repeat center center/cover;
  animation: background-motion 300ms ease-in 400ms 1 forwards;
}

@keyframes background-motion {
  to {
    transform: translateX(0);
  }
}

#root {
  height: 100%;
}

.body {
  height: calc(100% - 77.06px);
  background: var(--color-Primary);
}

.frame-element {
  height: 90%;
  text-align: center;
  overflow: hidden;
  width: 10px;
  /* background-color: aqua; */
  border: 1px solid transparent;
  border-top: 0;
}
